In [1]:
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd
import pytz

In [2]:
mt5.initialize()

True

In [4]:
timezone = pytz.timezone("Etc/UTC")
utc_from = datetime(2020, 12, 30, tzinfo=timezone)
def download_cotacao(ticker):  
    rates = mt5.copy_rates_from(ticker, mt5.TIMEFRAME_M1, utc_from, 99000) #baixa dados
    dados = pd.DataFrame(rates) #cria dataframe
    dados['time']=pd.to_datetime(dados['time'], unit='s')
    #dados = dados.set_index('time')
    #dados = dados['close'] 
    #dados = dados.rename(ticker)
    return dados

In [12]:
#IND@N, DOL@N

In [13]:
indfut = download_cotacao('IND@N')

In [14]:
indfut

,time,open,high,low,close,tick_volume,spread,real_volume
0,2020-04-07 14:57:00,78120.0,78140.0,78115.0,78115.0,9,5,45
1,2020-04-07 14:58:00,78070.0,78100.0,78050.0,78100.0,30,5,175
2,2020-04-07 14:59:00,78070.0,78155.0,78045.0,78155.0,21,5,110
3,2020-04-07 15:00:00,78155.0,78155.0,77910.0,77910.0,60,5,395
4,2020-04-07 15:01:00,77925.0,77960.0,77880.0,77960.0,47,5,290
...,...,...,...,...,...,...,...,...
97854,2020-12-29 18:20:00,119645.0,119670.0,119595.0,119670.0,29,5,195
97855,2020-12-29 18:21:00,119600.0,119600.0,119595.0,119600.0,3,5,25
97856,2020-12-29 18:22:00,119630.0,119630.0,119600.0,119600.0,6,5,35
97857,2020-12-29 18:23:00,119645.0,119655.0,119645.0,119650.0,9,5,110
97858,2020-12-29 18:24:00,119660.0,119660.0,119550.0,119550.0,20,5,185

In [15]:
indfut.to_excel('M1/cotacao_m1_indfut.xlsx')

In [16]:
dolfut = download_cotacao('DOL@N')

In [17]:
dolfut

,time,open,high,low,close,tick_volume,spread,real_volume
0,2020-04-08 14:07:00,5178.5,5180.0,5178.5,5180.0,18,500,90
1,2020-04-08 14:08:00,5180.0,5180.5,5179.0,5179.5,28,500,335
2,2020-04-08 14:09:00,5179.5,5180.0,5179.5,5180.0,26,500,745
3,2020-04-08 14:10:00,5180.0,5181.0,5180.0,5181.0,12,500,160
4,2020-04-08 14:11:00,5179.5,5179.5,5179.0,5179.0,20,500,125
...,...,...,...,...,...,...,...,...
97838,2020-12-29 18:25:00,5211.0,5211.0,5206.0,5206.0,12,500,80
97839,2020-12-29 18:26:00,5206.0,5208.5,5206.0,5208.5,8,500,50
97840,2020-12-29 18:27:00,5209.0,5211.5,5209.0,5211.5,9,500,55
97841,2020-12-29 18:28:00,5212.0,5215.0,5208.5,5214.5,36,500,250
97842,2020-12-29 18:29:00,5213.0,5215.5,5211.0,5212.0,34,500,190

In [18]:
dolfut.to_excel('M1/cotacao_m1_dolfut.xlsx')