In [1]:
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd
import pytz

In [6]:
mt5.initialize()

True

In [40]:
timezone = pytz.timezone("Etc/UTC")
utc_from = datetime(2020, 12, 30, tzinfo=timezone)
def download_cotacao(ticker):  
    rates = mt5.copy_rates_from(ticker, mt5.TIMEFRAME_M5, utc_from, 99000) #baixa dados
    dados = pd.DataFrame(rates) #cria dataframe
    dados['time']=pd.to_datetime(dados['time'], unit='s')
    #dados = dados.set_index('time')
    #dados = dados['close'] 
    #dados = dados.rename(ticker)
    return dados

In [41]:
#IND@N, DOL@N

In [42]:
indfut = download_cotacao('IND@N')

In [43]:
indfut

,time,open,high,low,close,tick_volume,spread,real_volume
0,2017-04-11 16:05:00,64880.0,64885.0,64790.0,64790.0,104,5,540
1,2017-04-11 16:10:00,64785.0,64790.0,64635.0,64670.0,154,5,1025
2,2017-04-11 16:15:00,64660.0,64700.0,64625.0,64675.0,113,5,645
3,2017-04-11 16:20:00,64670.0,64675.0,64385.0,64400.0,470,5,3050
4,2017-04-11 16:25:00,64405.0,64405.0,64245.0,64320.0,619,5,3635
...,...,...,...,...,...,...,...,...
98995,2020-12-29 18:00:00,119610.0,119680.0,119565.0,119640.0,103,5,570
98996,2020-12-29 18:05:00,119635.0,119675.0,119600.0,119665.0,137,5,770
98997,2020-12-29 18:10:00,119665.0,119785.0,119650.0,119785.0,84,5,495
98998,2020-12-29 18:15:00,119780.0,119800.0,119715.0,119735.0,58,5,335
98999,2020-12-29 18:20:00,119645.0,119670.0,119550.0,119550.0,67,5,550

In [48]:
indfut.to_excel('cotacao_m5_indfut.xlsx')

In [52]:
dolfut = download_cotacao('DOL@N')

In [53]:
dolfut

,time,open,high,low,close,tick_volume,spread,real_volume
0,2017-04-26 16:45:00,3177.5,3178.0,3176.5,3176.5,103,500,860
1,2017-04-26 16:50:00,3176.5,3176.5,3175.5,3176.0,156,500,1200
2,2017-04-26 16:55:00,3176.0,3176.0,3173.0,3174.0,401,500,3435
3,2017-04-26 17:00:00,3174.5,3175.5,3174.0,3175.5,210,500,2020
4,2017-04-26 17:05:00,3175.5,3175.5,3174.5,3175.5,124,500,860
...,...,...,...,...,...,...,...,...
98995,2020-12-29 18:05:00,5198.0,5200.0,5196.0,5197.5,20,500,115
98996,2020-12-29 18:10:00,5197.5,5198.0,5193.0,5193.5,70,500,390
98997,2020-12-29 18:15:00,5194.0,5201.0,5192.5,5201.0,70,500,450
98998,2020-12-29 18:20:00,5201.0,5212.0,5200.0,5211.0,162,500,1125
98999,2020-12-29 18:25:00,5211.0,5215.5,5206.0,5212.0,99,500,625

In [54]:
dolfut.to_excel('cotacao_m5_dolfut.xlsx')